{% extends "main/base.html" %}
{% block content %}
    <h1>Detail</h1>
    <h1>{{ offer.title }}</h1>
    <p>{{ offer.user }}</p>
    <h2>{{ offer.offer_type }}</h2>
    <h2>{{ offer.client }}</h2>
    <h2>{{ offer.description }}</h2>
    <h2>{{ offer.price_per_hour }}</h2>
    <h2>{{ offer.city }}</h2>
    <h2>Valoraciones del usuario</h2>
    {% for review in offer_reviews %}
        <p>{{ review.valoration }} - {{ review.description }}</p>
    {% empty %}
        <p>No hay valoraciones para esta oferta.</p>
    {% endfor %}
    {% if offer.average_rating %}
    <p>Media de las valoraciones de la oferta: {{ offer.average_rating }}</p>
    {% endif %}

    <div class="opinion-form">
        <h3>Valorar esta oferta</h3>
        <a href="{% url 'offer:review' id=offer.id %}" class="btn btn-primary">Opinar</a>
    </div>
{% endblock %}
