{% extends "main/base.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/offerDetails.css' %}">
{% endblock styles %}
{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock scripts %}

{% block header %}
    <style>
        .form-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #62B6CB;
            border-radius: 55px;
            width: 832px;
            height: 405px;
            margin: 0 auto;
        }

        .large-input {
            background-color: #FFFFFF;
            border: 1px solid #8492A6;
            border-radius: 5px;
            width: 630px;
            height: 140px;
        }
        #rating {
            width: 40%;
            padding: 12px 20px;
            margin-left: 180px;
            box-sizing: border-box;
            font-size: 16px;
        }

        .btn-primary {
            background-color: #1B4965;
            color: #FFFFFF;
            border-radius: 5px;
            width: 300px;
            height: 48px;
            margin-left: 160px;

        }
    </style>
{% endblock header %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CuidaME - Lista de Ofertas</title>
  <link rel="stylesheet" href="{% static "css/base.css" %}">
  <!-- Agrega esto en el encabezado de tu HTML -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
</head>

<body>

    <div style="margin-left:5%; margin-right:5%; margin-bottom:5%;">
        <div>
           
        </div>
        <br>
        <div class="card offer-card" style="max-width: 500px;">
            <div class="card-body">
                {% for message in messages %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
    {% endfor %}
                <h2 class="card-title offer-card-title">{{ offer.title }}</a></h2>
                <hr>
                <p class="card-text offer-card-text"><strong>Usuario:</strong> {{ offer.user }}</p>
                <p class="card-text offer-card-text"><strong>Precio:</strong> {{ offer.price_per_hour }} €/h</p>
                <p class="card-text offer-card-text"><strong>Tipo de Oferta:</strong> 
                    {% if offer.offer_type == 'CO' %}
                        Compañía
                    {% elif offer.offer_type == 'CU' %}
                        Cuidado
                    {% elif offer.offer_type == 'TR' %}
                        Transporte
                    {% elif offer.offer_type == 'DO' %}
                        Compra a Domicilio
                    {% elif offer.offer_type == 'OT' %}
                        Otros
                    {% endif %}
                </p>
                <p class="card-text offer-card-text"><strong>Tipo de Cliente:</strong>
                    {% if offer.client == 'DF' %}
                        Discapacidad Física
                    {% elif offer.client == 'DM' %}
                        Discapacidad Mental
                    {% elif offer.client == 'NI' %}
                        Niños
                    {% elif offer.client == 'AN' %}
                        Ancianos
                    {% elif offer.client == 'OT' %}
                        Otros
                    {% endif %}
                </p>
                <p class="card-text offer-card-text"><strong>Ciudad:</strong> {{ offer.address }}</p>
                <hr>
                <p class="card-text offer-card-text" style="margin-bottom: 1px;"><strong>Descripción:</strong></p>
                <div class="offer-card-description">
                    <p class="card-text offer-card-text" style="margin-top: 0px; margin-left: 5px; margin-right: 5px;">{{ offer.description }}</p>
                </div>
                <h2>Valoraciones del usuario</h2>
    {% for review in offer_reviews %}
        <p>{{ review.valoration }} - {{ review.description }}</p>
    {% empty %}
        <p>No hay valoraciones para esta oferta.</p>
    {% endfor %}
    {% if offer.average_rating %}
    <p>Media de las valoraciones de la oferta: {{ offer.average_rating }}</p>
    {% endif %}



    <div class="form-container">
        <form method="post" action="{% url 'offer:review' id=offer.id %}">
            {% csrf_token %}
            <input type="text" id="commentary" name="commentary" placeholder="Escribe un comentario" class="large-input"><br><br>
            <select id="rating" name="rating">
                <option value="" selected disabled>Selecciona una puntuación</option>
                <option value="1">⭐</option>
                <option value="2">⭐⭐</option>
                <option value="3">⭐⭐⭐</option>
                <option value="4">⭐⭐⭐⭐</option>
                <option value="5">⭐⭐⭐⭐⭐</option>
            </select>
            <br><br>
            <button type="submit" class="btn btn-primary">Añadir comentario</button>
        </form>
    </div>

                    <form method="post" action="{% url 'offer:send_chat_request' cuidador_id=offer.user.cuidador.id offer_id=offer.id %}">
                        <div style="display: flex;align-items: center;justify-content: center;">
                            <button type="submit" style="background-color: #1B4965; border-radius: 5px; width: 373px; height: 66px;">
                                Enviar Solicitud de Chat
                            </button>
                        </div>
                        {% csrf_token %}       
                    </form>
            </div>
        </div>
    </div>
 
</body>
</html>
{% endblock %}
