{% extends "main/base.html" %}
{% block content %}
    <h1>Detail</h1>
    
    <h1>{{ offer.title }}</h1>
    <p>{{offer.user}}</p>
    <h2>{{offer.offer_type}}</h2>
    <h2>{{offer.client}}</h2>
    <h2>{{offer.description}}</h2>
    <h2>{{offer.price_per_hour}}</h2>
    <h2>{{offer.city}}</h2>
  
    <form method="post" action="{% url 'offer:send_chat_request' cuidador_id=offer.user.cuidador.id offer_id=offer.id %}">
        <div style="display: flex;align-items: center;justify-content: center;">
            <button type="submit" style="background-color: #1B4965; border-radius: 5px; width: 373px; height: 66px;">
                Enviar Solicitud de Chat
            </button>
        </div>
        {% csrf_token %}       
    </form>
{% endblock %}