{% extends "main/base.html" %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CuidaME - Publicar Oferta</title>
  <link rel="stylesheet" href="{% static "css/base.css" %}">
  <link rel="stylesheet" href="{% static "css/publish.css" %}">
  <!-- Agrega esto en el encabezado de tu HTML -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

  
</head>
<body>

    <main class="container pt-4 pb-3" style="margin: 1%; max-width: 95%;">
        <div class="row d-flex align-items-center justify-content-between" style="margin-bottom: 10%; margin-top: 5%;">
           

            <img src="{% static 'Images/carer.png' %}" alt="Caregiver" class="img-fluid" style="width: 100%; max-width: 50%; height: auto; margin-bottom: 100px;">
            <div class="col-md-6" style="background-color: #62B6CB; color: #1B4965; padding: 5%; border-radius: 10%; font-size: 100%;">
                <div class="container-fluid" style="display: flex; height: 30%;">
                </div>
                <div style="display: flex; align-items: start; justify-content: left; margin-bottom: 5%;">
                    <a href="{% url 'offer:my_offers' %}" role="button">
                        <img src="/static/Images/back.png" alt="Atrás" style="max-width: 80px;">
                    </a>
                </div>

                <div class="container" style="display: flex; justify-content: center; position: relative;">
                    
                    {% if user.profile.photo %}
                        <img src="{{ user.profile.photo.url }}" class="img-fluid" style="width: 35%; height: auto; border-radius: 100%; margin-top: -30%;">
                    {% else %}
                        <img src="{% static 'Images/profile_photo(2).png' %}" class="img-fluid" style="width: 35%; height: auto; border-radius: 100%; margin-top: -30%;">
                    {% endif %}
                </div>

                <div class="form-group d-flex justify-content-center">
                    <h2><b>{{ user.first_name }}</b></h2>
                </div>
                <div class="form-group d-flex justify-content-center">
                    <h3>{{ user.formacion }}</h3>
                </div>

                <form method="post" style="margin: 3%;">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.title.id }}" style="font-size: 120%;"><b>Título:</b></label>
                        <textarea name="{{ form.title.name }}" class="form-control" rows="1" style="font-size:100%;">{{ form.title.value }}</textarea>
                        {% if form.title.errors %}
                        <p>{{"Debe tener un título de máximo de 75 caracteres"}}</p>
                    {% endif %}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.offer_type.id }}" style="font-size: 120%;"><b>Tipo de oferta:</b></label>
                        &nbsp; {{ form.offer_type }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.client.id }}" style="font-size: 120%;"><b>Tipo de cliente:</b></label>
                        &nbsp; {{ form.client }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.description.id }}" style="font-size: 120%;"><b>Descripción:</b></label>
                        <textarea name="{{ form.description.name }}" class="form-control" rows="3" style="font-size:100%;", value="{{offer.description}}">{{ form.description.value }}</textarea>
                        {% if form.description.errors %}
                        <p>{{ "La oferta debe tener una descripción" }}</p>
                    {% endif %}
                    </div>
                    
                    <div class="form-group">
                        <label for="{{ form.price_per_hour.id }}" style="font-size: 120%;"><b>Precio por hora:</b></label>
                        <textarea name="{{ form.price_per_hour.name }}" class="form-control" rows="1" style="font-size:100%;">{{ form.price_per_hour.value }}</textarea>
                        {% if form.price_per_hour.errors %}
                            <p>{{"El precio debe ser superior a 1.00 e inferior a 100.00" }}</p>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.address.id }}" style="font-size: 120%;"><b>Dirección:</b></label>
                        <textarea name="{{ form.address.name }}" class="form-control" rows="1" style="font-size:100%;">{{ form.address.value }}</textarea>
                        {% if form.address.errors %}
                        <p>{{ "  <p>{{ "La oferta debe tener una dirección y debe ser valida" }}</p>" }}</p>
                    {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="poblacion" style="font-size: 120%;"><b>Población:</b></label>
                        <input type="text" id="poblacion" name="{{ form.poblacion.name }}" class="form-control" value="{{ form.poblacion.value }}" style="font-size:100%;" list="poblacion-list">
                        <datalist id="poblacion-list">
                            {% for choice_value, choice_label in form.poblacion.field.choices %}
                                <option value="{{ choice_label }}"></option>
                            {% endfor %}
                        </datalist>
                        {% if form.poblacion.errors %}
                            <p>{{ "La oferta debe tener una población" }}</p>
                        {% endif %}
                    </div>


                    <div class="form-group d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary update_button" style="width: 50%; font-size: 110%; font-weight: bolder;">Actualizar</button>
                    </div>
                </form>
                
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVfQWqcC+aIgM5vmzKLvXhPTsyD95zEdN9SiwtcU6NOiz9z4M2L" crossorigin="anonymous"></script>
    <script src="{% static "js/../../offer/templates/offers/autoCompleto.js" %}"></script>
</body>
</html>
{% endblock %}
