{% extends "main/base.html" %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CuidaME - Lista de Ofertas</title>
  <link rel="stylesheet" href="{% static "css/base.css" %}">
  <!-- Agrega esto en el encabezado de tu HTML -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
</head>

<body>
    <div style="margin: 20px;">
        <div class="title-container">
            <h1>Listado de Ofertas</h1>
        </div>
        <div class="light-dark-container">
            <form class="form-inline my-2 my-lg-0" method="POST" role="search" action="{% url 'offer:searchOffers' %}">
                {% csrf_token %}
                <div class="input-group">
                    <div class="input-group-append">
                        <button class="btn light-btn" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                              </svg>
                        </button>
                    </div>
                    <input class="form-control rounded-pill" type="search" placeholder="Buscar" name="search_query" value="{{ search_query }}" aria-label="Search">
                </div>
            </form>
            <br>
            <form method="post" action="{% url 'offer:filterOffers' %}" class="row" style:"margin: 0px !important;">
                {% csrf_token %}
            
                <div class="form-group col-md-3">
                    <label for="min_price_filter" class="bold-label">Precio Mínimo:</label>
                    <div class="input-group">
                        <input type="number" class="form-control" id="min_price_filter" name="min_price_filter" value="{{ min_price_filter }}" step="0.5">
                    </div>
                </div>
            
                <div class="form-group col-md-3">
                    <label for="max_price_filter" class="bold-label">Precio Máximo:</label>
                    <div class="input-group">
                        <input type="number" class="form-control" id="max_price_filter" name="max_price_filter" value="{{ max_price_filter }}" step="0.5">
                    </div>
                </div>
            
                <div class="form-group col-md-3">
                    <label for="cliente_type_filter" class="bold-label">Tipo de Cliente:</label>
                    <div class="input-group">
                        <select class="form-control" id="cliente_type_filter" name="cliente_type_filter">
                            <option value="">Todos</option>
                            <option value="DF" {% if cliente_type_filter == 'DF' %}selected{% endif %}>Discapacidad Física</option>
                            <option value="DM" {% if cliente_type_filter == 'DM' %}selected{% endif %}>Discapacidad Mental</option>
                            <option value="NI" {% if cliente_type_filter == 'NI' %}selected{% endif %}>Niños</option>
                            <option value="AN" {% if cliente_type_filter == 'AN' %}selected{% endif %}>Ancianos</option>
                            <option value="OT" {% if cliente_type_filter == 'OT' %}selected{% endif %}>Otros</option>
                        </select>
                    </div>
                </div>
            
                <div class="form-group col-md-3">
                    <label for="offer_type_filter" class="bold-label">Tipo de Oferta:</label>
                    <div class="input-group">
                        <select class="form-control" id="offer_type_filter" name="offer_type_filter">
                            <option value="">Todos</option>
                            <option value="CO" {% if offer_type_filter == 'CO' %}selected{% endif %}>Compañía</option>
                            <option value="CU" {% if offer_type_filter == 'CU' %}selected{% endif %}>Cuidado</option>
                            <option value="TR" {% if offer_type_filter == 'TR' %}selected{% endif %}>Transporte</option>
                            <option value="DO" {% if offer_type_filter == 'DO' %}selected{% endif %}>Compra a Domicilio</option>
                            <option value="OT" {% if offer_type_filter == 'OT' %}selected{% endif %}>Otros</option>
                        </select>
                    </div>
                </div>
            
                <div class="form-group col-12 text-center">
                    <button type="submit" class="btn light-btn btn-lg btn-block">Aplicar Filtro</button>
                </div>
                
            </form>
        </div>

        <br><br>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
            {% for offer in offers %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="card offer-card">
                    <div class="card-body">
                        <h2 class="card-title text-center offer-card-title">{{ offer.title }}</a></h2>
                        <hr>
                        <p class="card-text offer-card-text text-center"><strong>Usuario:</strong> {{ offer.user }}</p>
                        <p class="card-text offer-card-text text-center"><strong>Precio:</strong> {{ offer.price_per_hour }} €/h</p>
                        <p class="card-text offer-card-text text-center"><strong>Tipo de Oferta:</strong> 
                            {% if offer.offer_type == 'CO' %}
                                Compañía
                            {% elif offer.offer_type == 'CU' %}
                                Cuidado
                            {% elif offer.offer_type == 'TR' %}
                                Transporte
                            {% elif offer.offer_type == 'DO' %}
                                Compra a Domicilio
                            {% elif offer.offer_type == 'OT' %}
                                Otros
                            {% endif %}
                        </p>
                        <p class="card-text offer-card-text text-center"><strong>Tipo de Cliente:</strong>
                            {% if offer.client == 'DF' %}
                                Discapacidad Física
                            {% elif offer.client == 'DM' %}
                                Discapacidad Mental
                            {% elif offer.client == 'NI' %}
                                Niños
                            {% elif offer.client == 'AN' %}
                                Ancianos
                            {% elif offer.client == 'OT' %}
                                Otros
                            {% endif %}
                        </p>
                        <p class="card-text offer-card-text text-center"><strong>Ciudad:</strong> {{ offer.city }}</p>
                        <hr>
                        <div class="text-center">
                            <form action="{{ offer.get_absolute_url }}" method="get">
                                <button type="submit" class="btn light-btn">Ver Detalles</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div> 
    </div>
</body>
</html>
{% endblock %}