{% extends "main/base.html" %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CuidaME - Mis Ofertas</title>
  <link rel="stylesheet" href="{% static "css/base.css" %}">
  <!-- Agrega esto en el encabezado de tu HTML -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

  
</head>
<body>
    <div>
        <a href="/offer">
            <img src="{% static 'Images/back.png' %}" alt="Back" style="width: 85px; height: 85px;">
        </a>
    </div>
    <br>
    <table class="table offers"> <!-- Añade la clase "table" para aplicar estilos de Bootstrap -->
        <thead class="thead-dark"> <!-- Aplica un estilo oscuro al encabezado -->
        <tr>
            <th>Título</th>
            <th>Tipo de oferta</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Tipo cliente</th>
            <th>Fecha de creación</th>
        </tr>
        </thead>
        <tbody>
            {% for offer in offers %}
                <tr>
                    <td>{{ offer.title }}</td>
                    <td>{{ offer.offer_type }}</td>
                    <td>{{ offer.description }}</td>
                    <td class="num">${{ offer.price_per_hour }}</td>
                    <td>{{ offer.client }}</td>
                    <td>{{ offer.created }}</td>

                    <td>
                        <a href="{% url 'offer:edit_offer' offer.id %}" class="btn btn-primary light-dark-btn">Editar</a>
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    {% if show_publish_button %}
        <a class="btn" href="/offer/publish/" role="button">Publish an offer</a><br>
    {% else %}
        <p>Numero de ofertas limite alcanzado. Borra alguna oferta para poder publicar</p>
    {% endif %}
    <br>
</body>
</html>
{% endblock %}