{% extends "main/base.html" %}

{% block title %}
 Tus ofertas
{% endblock %}

{% block content %}
    <table class="offers">
        <thead>
        <tr>
            <th>Título</th>
            <th>Tipo de oferta</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Tipo cliente</th>
            <th>Fecha de creación</th>
        </tr>
        </thead>
        <tbody>
            {% for offer in offers %}
                <tr>
                    <td>{{ offer.title }}</td>
                    <td>{{ offer.offer_type }}</td>
                    <td>{{ offer.description }}</td>
                    <td class="num">${{ offer.price_per_hour }}</td>
                    <td>{{ offer.client }}</td>
                    <td>{{ offer.created }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}