{% extends "main/base.html" %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CuidaME - Publish Offer</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static "css/base.css" %}">
  <link rel="stylesheet" href="{% static "css/publish.css" %}">
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.0/main.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.0/main.min.css">
  <!-- Agrega esto en el encabezado de tu HTML -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

  
</head>
<body>

    <main class="container pt-5 pb-3">
        <div class="row d-flex align-items-center justify-content-between" style="margin-bottom: 10%; margin-top: 5%;">
            <img src="{% static 'Images/carer.png' %}" alt="Caregiver" class="img-fluid" style="width: 100%; max-width: 660px; height: auto; margin-bottom: 100px;">
            <div class="col-md-6" style="background-color: #62B6CB; color: #1B4965; padding: 20px; border-radius: 10%; font-size: 18px;">
                <div class="container" style="display: flex; height: 30%;">
                    <a href="{% url 'offer:list' %}">
                      <img src="{% static 'Images/back.png' %}" alt="Back" style="width: 85px; height: 85px;">
                    </a>
                </div>
                <div class="container" style="display: flex; justify-content: center; position: relative;">
                    {% if user.profile.photo %}
                        <img src="{{ user.profile.photo.url }}" style="width: 35%; height: auto; border-radius: 100%; margin-top: -30%;">
                     {% else %}
                    <!-- Si no hay foto de perfil, se muestra una imagen predeterminada -->
                        <img src="{% static 'Images/profile_photo(2).png' %}" style="width: 35%; height: auto; border-radius: 100%; margin-top: -30%;">
                    {% endif %}
                </div>
                    <div class="form-group d-flex justify-content-center">
                        <h2><b>{{ user.first_name }}</b></h2>
                    </div>
                    <div class="form-group d-flex justify-content-center">
                        <h3>{{ user.formacion }}</h3>
                    </div>
    
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="title" style= "font-size: 120%;"><b>Título</b></label>
                            <input type="text" class="form-control" id="title" name="title" style= "font-size: 100%;" placeholder="Añada un título">
                            {% if form.title.errors %}
                                <p>{{ form.title.errors }}</p>
                            {% endif %}
                        </div>
    
                        <div class="form-group">
                            <label for="offer_type" style= "font-size: 120%;"><b>Tipo de oferta</b></label>
                            <div class="input-group">
                                <select class="form-control" id="offer_type" name="offer_type">
                                    {% for choice in form.offer_type.field.choices %}
                                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                    {% endfor %}
                                </select>
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <img src="{% static 'Images/down.png' %}" alt="Down" width="16" height="16">
                                    </span>
                                </div>
                            </div>
                        </div>
    
                        <div class="form-group">
                            <label for="client" style= "font-size: 120%;"><b>Tipo de cliente</b></label>
                            <div class="input-group">
                                <select class="form-control" id="client" name="client">
                                    {% for choice in form.client.field.choices %}
                                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                    {% endfor %}
                                </select>
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <img src="{% static 'Images/down.png' %}" alt="Down" width="16" height="16">
                                    </span>
                                </div>
                            </div>
                        </div>
    
                        <div class="form-group">
                            <label for="description" style= "font-size: 120%;"><b>Descripción</b></label>
                            <textarea class="form-control" id="description" name="description" rows="3" style= "font-size: 100%;" placeholder="Añada aquí información relacionada con el servicio que está ofreciendo"></textarea>
                            {% if form.description.errors %}
                                <p>{{ form.description.errors }}</p>
                            {% endif %}
                        </div>
    
                        <div class="form-group">
                            <label for="price_per_hour" style= "font-size: 120%;"><b>Precio por hora (€)</b></label>
                            <input type="number" class="form-control" id="price_per_hour" name="price_per_hour" style= "font-size: 100%;" placeholder="Añada el salario por hora">
                            {% if form.price_per_hour.errors %}
                                <p>{{ form.price_per_hour.errors }}</p>
                            {% endif %}
                        </div>
    
                        <div class="form-group">
                            <label for="city" style= "font-size: 120%;"><b>Ciudad</b></label>
                            <input type="text" class="form-control" id="city" name="city" style= "font-size: 100%;" placeholder="Añada la ciudad en la que ofrecerá sus servicios">
                            {% if form.city.errors %}
                                <p>{{ form.city.errors }}</p>
                            {% endif %}
                        </div>
    
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary" style="width: 50%;font-size: 110%;font-weight: bolder;">Publicar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVfQWqcC+aIgM5vmzKLvXhPTsyD95zEdN9SiwtcU6NOiz9z4M2L" crossorigin="anonymous"></script>
</body>
</html>
{% endblock %}
