{% extends "main/base.html" %}

{% block title %}Chat room for "{{ chat_request.offer }}"{% endblock %}
{% load tz %}
{% block content %}
{% load static %}
{% load tz %}
{% load i18n %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4" style="height: 100%; float: left;">
      <form class="d-flex" role="search" style="margin-top: 2%; align-items: center; justify-content: center;">
        <input style="height: 50px;" id="search" class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
        {% if user.cuidador %}
        <a href="{% url 'chat:chat_requests_for_caregiver' %}"
          style="height:70px; width: 70px; display: flex; align-items: center; justify-content: center;">
          <img src="{% static 'Images/sobre.png' %}" style="width: 80%; height: 80%; margin-left: 10px;">
        </a>
        {% endif %}
      </form>
      <hr style="border: 1px solid #1B4965;opacity: 0.62;">
      {% if user.cuidador %}
      <ul id="my-chats" style="list-style: none;">
        {% for chat_request in user.cuidador.chat_requests_received.all %}
        {% if chat_request.accepted %}
        <li>
          <a class="mb-0" style="color: #1B4965; font-weight: bold;" href="/chat/room/{{ chat_request.id }} ">{{chat_request.sender }}</a>
          <p>Oferta: {{ chat_request.offer.title }}</p>
          <hr style="border: 1px solid #1B4965;opacity: 0.62;position: relative;left: -20px;">
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      {% endif %}

      {% if user.cliente %}
      <ul id="my-chats" style="list-style: none;">
        {% for chat_request in user.cliente.chat_requests_sent.all %}
        {% if chat_request.accepted %}
        <li>
          <a class="mb-0" style="color: #1B4965; font-weight: bold;" href="/chat/room/{{ chat_request.id }} "> {{chat_request.receiver }}</a>
          <p>Oferta: {{ chat_request.offer.title }}</p>
          <hr style="border: 1px solid #1B4965;opacity: 0.62;position: relative;left: -20px;">
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    <div class="col-md-6" style="margin-left: 100px; margin-top: 30px; margin-bottom: 60px;">
      <div class="chat-header" style="background-color: #1B4965; color: white; padding: 10px;">
        {% if user.cuidador %}        
        <h4 class="mb-0">{{ chat_request.sender }}</h4>
        {% endif %}
        {% if user.cliente %}        
        <h4 class="mb-0">{{ chat_request.receiver }}</h4>
        {% endif %}
      </div>
      
     <div class="chat-body" id="chat" style="background-color: rgb(117, 192, 241); height: 400px; overflow-y: auto; padding: 10px; display: flex; flex-direction: column;">
    {% for date, messages in grouped_messages.items %}
    
        <div class="date-marker" style="text-align: center; margin-bottom: 10px;">
          {% language 'es' %}
            {{ date|date:'j \d\e F \d\e Y' }}
          {% endlanguage %}
        </div>
        {% for message in messages %}
            {% if message.user == request.user %}
                <div class="message me" style="background-color: #DFF0D8; border-radius: 8px; padding: 10px; margin-bottom: 15px; display: inline-block; float: right; clear: both; max-width: 70%; align-self: flex-end">
                    <strong>Yo</strong>
            {% else %}
                <div class="message other" style="background-color: #ffffff; border-radius: 8px; padding: 10px; margin-bottom: 15px; display: inline-block; float: left; clear: both; max-width: 70%; align-self: flex-start">
                    <strong>{{ message.user }}</strong>
            {% endif %}
            <span class="date">{{ message.timestamp|timezone:"Europe/Madrid"|time:"H:i" }}</span><br>
            {{ message.message }}</div>
        {% endfor %}
    {% endfor %}
</div>
     
      <div class="chat-footer" id="chat-input" style="background-color: rgb(117, 192, 241); padding: 10px;">
        <div class="input-group" style="margin-top: 10px;">
          <input id="chat-message-input" type="text" class="form-control" placeholder="Escriba su mensaje aqui">
          <div class="input-group-append">
            <button id="chat-message-submit" class="btn btn-primary" type="button">Enviar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block include_js %}
{{ chat_request.id|json_script:"chat-id" }}
{{ request.user.username|json_script:"request-user" }}
{% endblock %}

{% block domready %}

const chat = document.getElementById('chat');
chat.scrollTop = chat.scrollHeight;

const chatId = JSON.parse(
document.getElementById('chat-id').textContent
);
const requestUser = JSON.parse(
document.getElementById('request-user').textContent
);
const url = 'ws://' + window.location.host +
'/ws/chat/room/' + chatId + '/';
const chatSocket = new WebSocket(url);

function getCookie(name) {
  const value = `; ${document.cookie}`;
  const parts = value.split(`; ${name}=`);
  if (parts.length === 2) return parts.pop().split(';').shift();
}

let lastMessageDate = ''; // Variable para almacenar la última fecha mostrada

chatSocket.onmessage = function(event) {
const data = JSON.parse(event.data);
const authUsername = "{{ user.username }}";

  console.log({data})

  if (data.user === authUsername) {
    // Guardar el mensaje en la base de datos usando fetch
    const csrftoken = getCookie('csrftoken');


    // Guardar el mensaje en la base de datos usando fetch
    fetch('/chat/send_message/' + chatId, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken  // Incluir el token CSRF en los encabezados
        },
        body: JSON.stringify({message: data.message})
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        console.log('Message saved successfully');
    })
    .catch(error => {
        console.error('Error saving message:', error);
    });
  }

const dateOptions = {day: 'numeric', month: 'long', year: 'numeric', hour: 'numeric', minute: 'numeric', hour12: false}; // Cambiado el formato de fecha
const datetime = new Date(data.datetime).toLocaleString('es-ES', dateOptions); // Cambiado a español
const datetimeFormatted = new Date(data.datetime).toISOString().slice(0,10)

var lastDatetime = '{{ last_message_date }}';

intlDateObj = new Intl.DateTimeFormat('en-US', {
                timeZone: "Europe/Madrid"
                        });
usaTime = intlDateObj.format(new Date(data.datetime));
var parts = usaTime.split('/');
var year = parts[2];
var month = parts[0];
var day = parts[1];
var formattedDate = year + '-' + ('0' + month).slice(-2) + '-' + ('0' + day).slice(-2);

console.log({formattedDate})
console.log(lastDatetime)

const isMe = data.user === requestUser;
const source = isMe ? 'me' : 'other';
const name = isMe ? 'Yo' : data.user;

// Modificamos el estilo según si el mensaje es tuyo o no
const messageStyle = isMe ? 'style="background-color: #DFF0D8; border-radius: 8px; padding: 10px; margin-bottom: 10px; display: inline-block; float: right; clear: both; max-width: 70%; align-self: flex-end;"' : 'style="background-color: #ffffff; border-radius: 8px; padding: 10px; margin-bottom: 10px; display: inline-block; float: left; clear: both; max-width: 70%; align-self: flex-start;"';

// Verificamos si la fecha del mensaje es diferente a la última fecha mostrada
if (lastDatetime !== formattedDate) {
    // Si es diferente, mostramos la fecha
    chat.innerHTML += '<div class="date-marker" style="text-align: center; margin-bottom: 10px;">' + datetime.split(',')[0] + '</div>';
    // Actualizamos la última fecha mostrada
    lastMessageDate = datetime.split(',')[0];
}

chat.innerHTML += '<div class="message ' + source + '" ' + messageStyle + '>' +
  '<strong>' + name + '</strong> ' +
  '<span class="date">' + datetime.split(',')[1] + '</span><br>' +
  data.message + '</div>';
chat.scrollTop = chat.scrollHeight;
};

chatSocket.onclose = function(event) {
console.error('Chat socket closed unexpectedly');
};

const input = document.getElementById('chat-message-input');
const submitButton = document.getElementById('chat-message-submit');

submitButton.addEventListener('click', function(event) {
const message = input.value;
if(message) {
// send message in JSON format
chatSocket.send(JSON.stringify({'message': message}));
// clear input
input.value = '';
input.focus();
}
});

input.addEventListener('keypress', function(event) {
if (event.key === 'Enter') {
// cancel the default action, if needed
event.preventDefault();
// trigger click event on button
submitButton.click();
}
});

input.focus();

// BUSCADOR

// Get the input field and list
  const searchInput = document.getElementById('search');
  const list = document.getElementById('my-chats').getElementsByTagName('li');

  // Add event listener for input change
  searchInput.addEventListener('input', function() {
    // Get the search query and convert to lowercase for case-insensitive search
    const query = this.value.toLowerCase();

    // Loop through each list item
    Array.from(list).forEach(function(item) {
      // Get the text content of the list item and convert to lowercase
      const text = item.textContent.toLowerCase();

      // Check if the search query is found in the text content
      // If found, display the list item, otherwise hide it
      if (text.includes(query)) {
        item.style.display = 'block';
      } else {
        item.style.display = 'none';
      }
    });
  });

{% endblock %}
  