  
{% extends 'main/base.html' %}
{% block content %}
 
        <h3>Solicitudes de Chat Pendientes</h3>
        <ul>
            {% for chat_request in user.cuidador.chat_requests_received.all %}
                <li>
                    <p>De: {{ chat_request.sender.username }}</p>
                    <p>Oferta: {{ chat_request.offer.title }}</p>
                     <!-- Para aceptar oferta  -->
                    <a href="{% url 'accept_chat_request' chat_request.id %}">Aceptar</a>
                    <!-- Para denegar la oferta -->
                    <a href="{% url 'reject_chat_request' chat_request.id %}">Denegar</a> 
                    </li>
            {% endfor %}
        </ul>
{% endblock %}