{% extends "main/base.html" %}

{% block title %}Sesión cerrada{% endblock %}
{% block content %}
{% load static %}
<head>
  <title>CuidaME - Sesión cerrada</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static "css/base.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>

<body>
    <h1>Sesión cerrada</h1>
    <p>
        La sesión ha sido cerrada correctamente.
        Puedes volver a <a href="{% url "login" %}">iniciar sesión de nuevo</a> .
    </p>
</body>

{% endblock %}