{% extends "main/base.html" %}

{% block title %}Iniciar sesión{% endblock %}

{% block content %}
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body style="background-color: #E3F1FA;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <img src="../../static/images/image.png" alt="Cliente" style="width: 100%; height: auto; margin: 10% auto;">
      </div>
      <div class="col-md-7">
        <div class="container" style="position: relative; background-color: #62B6CB; border-radius: 10%; width: 70%; margin: 15%; min-height: 70%;">
          <img src="../../static/images/Logo.png" alt="Logo" style="width: 35%; height: 30%; position: relative; margin-top: -18%; left: 33%;">
          <h2 class="text-center mt-3"><b>Iniciar sesión</b></h2>
          <div class="login-form" style="display: flex; flex-direction: column; align-items: center; margin-top: -5%; font-size: 110%; font-family: Lato; font-weight: bold;">
            <form action="{% url 'login' %}" method="post" style="font-size:120%; font-family: Lato; font-weight: bolder; margin-left: 1%; margin-top: 10%;">
              {{ form.as_p }}
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ next }}" />
              <p style="display: flex; justify-content: center;">
                <input style="color: #FFFFFF; font-family: Lato; font-weight: bold; text-align: center; background-color: #1B4965; border-radius: 5%; width: 70%;" type="submit" value="Iniciar sesión">
              </p>
            </form>
            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 8%;">
                {% if form.errors %}
                  <p style="display: flex; justify-content: center; font-family: Lato; font-weight: bold;">Tu nombre y tu contraseña no coinciden. Inténtelo de nuevo</p>
                {% else %}
                  <hr style="border: 1px solid #1B4965; width: 100%;">
                  <h3 style="text-align: center; font-family: Lato; font-weight: bold;">¿No tienes una cuenta?</h3>
                  <h5 style="text-align: center; font-family: Lato; font-weight: bold;">
                    Únete <a href="{% url "registro_cliente" %}">&nbsp;como cliente&nbsp;</a>
                    o únete <a href="{% url "registro_cuidador" %}">&nbsp;como cuidador</a>
                  </h5>
                {% endif %}
            </div>
              
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

{% endblock %}
