{% extends "main/base.html" %}
{% block title %}Sobre Cuidame{% endblock %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/aboutUs.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <div class="section">
        <div class="container1">
            <h2 class="title-about">¿Quiénes somos?</h2>
            <p>En CuidaMe, somos una comunidad comprometida con tu bienestar. Nuestra misión es proporcionarte los recursos y el apoyo que necesitas para llevar una vida más saludable y feliz.</p>
            <p>Para los trabajadores que desean anunciarse en nuestra aplicación, ofrecemos la oportunidad de conectarse con posibles clientes y expandir su negocio.</p>
            <p>Únete a nosotros y juntos hagamos del cuidado personal una prioridad.</p>
            <p>¡Bienvenido a CuidaMe!</p>
        </div>
        <!--<div class="image1"><img src="../../images/care.jpg" alt=""></div> -->
        <div class="image1"><img src="{% static 'images/care.jpg' %}" alt=""></div>
    </div>
    <h1 class="title-services">Servicios</h1>
    <div class="section-service2">
        <div class="container1">
            <h2 class="services-text2">¡Amor y cuidado para nuestros mayores: ¡CuidaMe contigo!</h2>
        </div>
        <!-- <div class="image2"><img src="../../images/cuidadora-anciano.jpg" alt=""></div> -->
        <div class="image2"><img src="{% static 'images/cuidadora-anciano.jpg' %}" alt=""></div>

    </div>

    <div class="row" style="margin-top: 5%;">
        <div class="col-md-7">
            <h3 style="margin-left: 10%; margin-top: 25%;color: #1B4965;">Jugando, Aprendiendo, Creciendo: CuidaMe con Cariño</h3>
        </div>
        <div class="col-md-5">
            <img style="border-radius: 2%; width: 80%; height: auto;" src="../../static/images/cuidados_ninyos.jpeg" alt="">
        </div>
        <!--<div class="image1"><img src="../../images/Niñera.jpg" alt=""></div> -->
        <div class="image2"><img src="{% static 'images/Niñera.jpg' %}" alt=""></div>

    </div>

    <div class="section-service2">
        <div class="container1">
            <h2 class="services-text2">Espacios Impecables, Vida Plena: CuidaMe, Cuida tu Hogar</h2>
        </div>
        <!-- <div class="image2"><img src="../../images/Limpiador.jpg" alt=""></div> -->
        <div class="image2"><img src="{% static 'images/Limpiador.jpg' %}" alt=""></div>

    </div>

</div>
    
{% endblock %}

