{% extends "main/base.html" %}
{% block title %}Sobre Cuidame{% endblock %}
{% load static %}

{% block content %}
<div class="container-fluid">

    <div class="row" style="margin-top: 5%; font-size: 25px;">
        <div class="col-md-7">
            <h1 style="font-weight: bolder; margin-left: 35%; margin-bottom: 3%;color: #1B4965;">¿Quiénes somos?</h1>
            <div style="margin-left: 5%;font-family: Lato; ">
                <p>En CuidaMe somos una comunidad comprometida con tu bienestar. Nuestra misión es proporcionarte los recursos y el apoyo que necesitas para llevar una vida más sana y feliz.</p>
                <p>A los trabajadores que quieran anunciarse en nuestra app, les ofrecemos la oportunidad de conectar con clientes potenciales y ampliar su negocio.</p>
                <p>Únase a nosotros y hagamos juntos del cuidado personal una prioridad. <b style="color: #1B4965;">¡Bienvenido a CuidaMe!</b></p>
            </div>
        </div>
        <div class="col-md-5">
            <img style="margin-right:10%; width: 80%; height: auto; margin-top:-25%;" src="../../static/images/Logo.png" alt="">
        </div>


    </div>
    
    <h1 style="font-weight: bolder; margin-bottom: 5%; text-align: center; color: #1B4965;">Servicios</h1>

    <div class="row">
        <div class="col-md-5">
            <img style="border-radius: 2%; margin-left:10%;width: 80%; height: auto;" src="../../static/images/anciano_y_cuidadora_paseando.jpeg" alt="">
        </div>
        <div class="col-md-7">
            <h3 style="margin-left: 10%; margin-top: 25%;color: #1B4965;">Amor y Atención para Nuestros Mayores: ¡CuidaMe Contigo!</h3>
        </div>


    </div>

    <div class="row" style="margin-top: 5%;">
        <div class="col-md-7">
            <h3 style="margin-left: 10%; margin-top: 25%;color: #1B4965;">Jugando, Aprendiendo, Creciendo: CuidaMe con Cariño</h3>
        </div>
        <div class="col-md-5">
            <img style="border-radius: 2%; width: 80%; height: auto;" src="../../static/images/cuidados_ninyos.jpeg" alt="">
        </div>


    </div>

    <div class="row" style="margin-top: 5%; margin-bottom:10%;">
        <div class="col-md-5">
            <img style="border-radius: 2%; margin-left:10%;width: 80%; height: auto;" src="../../static/images/limpiadora.jpeg" alt="">
        </div>
        <div class="col-md-7">
            <h3 style="margin-left: 10%; margin-top: 25%;color: #1B4965;">Espacios Impecables, Vida Plena: CuidaMe, Cuida tu Hogar</h3>
        </div>


    </div>

</div>
    
{% endblock %}

