{% load static %}
<!DOCTYPE html>
<html lang="es" {% if is_home_page %}class="home-page"{% endif %}>
<head >
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %} - CuidaMe</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static "css/base.css" %}">
  {% block header %}{% endblock header %}
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg base-header-primary">
      <div class="container-fluid">
        <a href="/" style="color: #cae9ff;"><strong>CuidaMe</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <p style="color: #cae9ff;">=</p>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">
              <a class="btn" href="{% url 'about_us' %}" role="button">Sobre Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="btn" href="{% url 'pricing_plan' %}" role="button">Planes de Precio</a>
            </li>

            {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="btn" href="{% url 'my_profile_detail' %}" role="button">Mi perfil</a>
            </li>
            {% if request.user.cuidador %}
            <li class="nav-item">
              <a class="btn" href="{% url 'chat:chat_requests_for_caregiver' %}" role="button">Solicitudes de chat</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="btn" href="/chat/chat_rooms" role="button">Mis chats</a>
            </li>

            {% if user.is_superuser %}
            <li class="nav-item">
              <a class="btn" href="{% url 'cliente_list' %}" role="button">Lista de Clientes</a>
            </li>
            <li class="nav-item">
              <a class="btn" href="{% url 'cuidador_list' %}" role="button">Lista de Cuidadores</a>
            </li>
            <li class="nav-item">
              <a class="btn" href="{% url 'offer:administrar_ofertas' %}" role="button">Administrar Ofertas</a>
            </li>
            {% endif %}

            {% if request.user.cuidador %}
            <li class="nav-item">
              <a class="btn" href="/offer/my_offers" role="button">Mis ofertas</a>
            </li>
            <li class="nav-item">
              <a class="btn" href="/offer/list" role="button">Lista de ofertas</a>
            </li>
            {% endif %}

            {% if request.user.cliente %}
            <li class="nav-item">
              <a class="btn" href="/offer/list" role="button">Lista de ofertas</a>
            </li>
            {% endif %}

            <li class="nav-item">
              <div class="logout-btn-wrapper">
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-info">Cerrar sesión</button>
                </form>
              </div>
            </li>

            {% else %}
            <li class="nav-item">
              <a class="btn" href="{% url 'home' %}" role="button">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="btn" href="/login" role="button">Iniciar sesión</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <style>
        .logout-btn-wrapper {
            display: inline-block;
            margin-left: 10px; /* Ajusta el margen izquierdo según tu diseño */
        }
    </style>

    <section class="base-header-secondary">
      <h2>{% block description %}{% endblock description %}</h2>
    </section>
  </header>
  <main>
    {% block content %}
    {% endblock content %} 
  </main>
  <footer class="text-center text-lg-start bg-light text-muted " >
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"  style="background-color:  #1B4965">
      
      <div class="me-5 d-none d-lg-block" style="padding-left:120px ;color: #cae9ff;">
        <span>Conecta con nosotros en nuestras redes sociales</span>
      </div>      
    </section>
    <section class="d-flex justify-content-center justify-content-lg-between p--1 border-bottom" style="background-color:  #1B4965">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4"  style=" color: #cae9ff;">
              <i class="fas fa-gem me-3"></i> CuidaMe Company
            </h6>
            <p  style=" color: #cae9ff;">
              ¡Bienvenido a CuidaMe! Nos especializamos en conectarlo con personas para todas sus necesidades de cuidado. 
              Ya sea para un familiar mayor, un niño o cualquier persona intermedia, nuestra plataforma hace que encontrar el cuidado perfecto sea simple y eficiente.
            </p>
         </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          
            <p>
                <strong><a href="{% url 'home' %}"class="text-reset" style=" color: #cae9ff; padding-left:30px">CuidaMe</a></strong>
              
            </p>
            
            <img src="{% static 'Images/App_logo.png' %}" alt="Logo de CuidaMe" width="200" height="200">
            <a href="{% url 'about_us' %}" style="color: #cae9ff; padding-left: 30px;">Sobre nosotros</a>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4"  style=" color: #cae9ff;">
            <h6 class="text-uppercase fw-bold mb-4">Contactos</h6>
            <p><i class="fas fa-home me-3"></i> Sevilla, Av. de la Reina Mercedes 41012, ES</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              CuidaMe@Gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i> +34 686 84 90 09</p>
          </div>
        </div>
      </div>
    </section>
    <div class="text-center p-4" style="background-color: #1B4965  ; color: #cae9ff;">
      © 2024 Copyright :
      <a class="text-reset fw-bold" style=" color: #cae9ff;" href="/">CuidaMe.com</a>
    </div>
  </footer>
  {% block include_js %}
  {% endblock %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      // DOM loaded
      {% block domready %}
      {% endblock %}
    })
  </script>
</body>
</html>