<!DOCTYPE html>
{% extends "main/base.html" %}
{% block title %}Delete cliente{% endblock %}
{% load static %}

{% block content %}<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Eliminación de Cliente</title>
</head>
<body>
    <h1>Confirmar Eliminación de Cliente</h1>
    <p>¿Estás seguro de que deseas eliminar el cliente {{ cliente.user.username }}?</p>
    <form action="{% url 'eliminar_cliente' cliente.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Eliminar">
    </form>
    <a href="{% url 'cliente_list' %}">Cancelar</a>
</body>
</html>
{% endblock %}
