{% extends "main/base.html" %}
{% block title %}Cuidador edit{% endblock %}
{% load static %}

{% block content %}<html lang="en"><html lang="en"><html lang="en"><html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Cuidador</title>
</head>
<body>
    <h1>Editar Cuidador</h1>
    <form action="{% url 'editar_cuidador' cuidador.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Guardar Cambios">
    </form>
</body>
</html>
{% endblock %}
