<!DOCTYPE html>
{% extends "main/base.html" %}
{% block title %}Cuidador delete{% endblock %}
{% load static %}

{% block content %}<html lang="en"><html lang="en"><html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Eliminación de Cuidador</title>
</head>
<body>
    <h1>Confirmar Eliminación de Cuidador</h1>
    <p>¿Estás seguro de que deseas eliminar el cuidador {{ cuidador.user.username }}?</p>
    <form action="{% url 'eliminar_cuidador' cuidador.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Eliminar">
    </form>
    <a href="{% url 'cuidador_list' %}">Cancelar</a>
</body>
</html>
{% endblock %}
