<!DOCTYPE html>
{% extends "main/base.html" %}
{% block title %}Editar Cuidador{% endblock %}
{% load static %}
{% block content %}
<main class="container pt-5 pb-3">
    <div class="row d-flex align-items-center justify-content-between" style="margin-bottom: 10%; margin-top: 5%;">
        <div class="col-md-6">
            <img src="{% static 'Images/anciano.png' %}" alt="anciano" class="img-fluid"
                style="width: 100%; max-width: 660px; height: auto;">
        </div>
        <div class="col-md-6"
            style="background-color: #62B6CB; color: #1B4965; padding: 30px; border-radius: 10%; font-size: 18px; justify-content: center;">
            <div>
                <h2 class="text-center"><b>Editar Cuidador</b></h2>

                <div class="container" style="display: flex; height: 20px;">
                    <a href="/mi_perfil">
                        <img src="{% static 'Images/back.png' %}" alt="Volver" style="width: 60%; height: auto; margin-top: -50%;">
                    </a>
                </div>
                <form action="{% url 'editar_cuidador' cuidador.id %}" method="post" style="font-size: 20px; font-weight: bolder; margin-top: 10%;">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-flex justify-content-center">
                      <button type="submit" class="btn btn-primary mt-3" style="width:60%; font-size: 20px;">Guardar Cambios</button>
                    </div>
                  </form>

            </div>
        </div>
    </div>
</main>
{% endblock %}
