{% extends "main/base.html" %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CuidaME - Editar anuncio</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.0/main.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.0/main.min.css">
  <!-- Agrega esto en el encabezado de tu HTML -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

  
</head>
<body>

    <main class="container pt-5 pb-3">
        <div class="row d-flex align-items-center justify-content-between" style="height: 80vh; margin-bottom: 10%; margin-top: 5%;">
          <img src="{% static 'Images/carer.png' %}" alt="Caregiver" class="img-fluid" style="width: 100%; max-width: 660px; height: auto;">
          <div class="col-md-6" style="background-color: #62B6CB; color: #1B4965; padding: 20px; border-radius: 10%; font-size: 18px;">
            <div>

              <div class="container" style="display: flex; justify-content: center; position: relative;">
                
              {% if user.profile.photo %}
                <div style="align-items: center; position: absolute; top: -120px; left: 14vw;">
                    <img src="{{ user.profile.photo.url }}" style="width: 200px; height: 200px; border-radius: 100%;">
                </div>
              {% else %}
                <!-- Si no hay foto de perfil, se muestra una imagen predeterminada -->
                <div style="align-items: center; position: absolute; top: -120px; left: 14vw;">
                    <img src="{% static 'Images/profile_photo(2).png' %}" style="width: 200px; height: 200px; border-radius: 100%;">
                </div>
              {% endif %}
            
              </div>
              
                <div class="form-group d-flex justify-content-center" style="margin-bottom: -15px; margin-top: 80px;">
                    <h2><b>Carer name</b></h2>
                </div>
                <div class="form-group d-flex justify-content-center">
                    <h3>Profession</h3>
                </div>
        
                <form method="post">
                  {% csrf_token %}
    
                  <div class="form-group">
                    <label for="disponibilidad"><b>Available days</b></label>
                    <div class="input-group date">
                        <input type="text" class="form-control" id="disponibilidad" name="disponibilidad" placeholder="Choose your available days from the calendar">
                        <div class="input-group-append">
                            <span class="input-group-text">
                              <img src="{% static 'Images/calendar.png' %}" style="width: 20px; height: 20px;">
                            </span>
                        </div>
                    </div>
                </div>
                
    
                
                <div class="form-group">
                  <label for="disponibilidad"><b>Available hours</b></label>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="input-group">
                            <select class="form-control" id="from" name="from">
                              <option value="00:00">12:00 AM</option>
                              <option value="01:00">1:00 AM</option>
                              <option value="02:00">2:00 AM</option>
                              <option value="03:00">3:00 AM</option>
                              <option value="04:00">4:00 AM</option>
                              <option value="05:00">5:00 AM</option>
                              <option value="06:00">6:00 AM</option>
                              <option value="07:00">7:00 AM</option>
                              <option value="08:00">8:00 AM</option>
                              <option value="09:00">9:00 AM</option>
                              <option value="10:00">10:00 AM</option>
                              <option value="11:00">11:00 AM</option>
                              <option value="12:00">12:00 PM</option>
                              <option value="01:00">1:00 PM</option>
                              <option value="02:00">2:00 PM</option>
                              <option value="03:00">3:00 PM</option>
                              <option value="04:00">4:00 PM</option>
                              <option value="05:00">5:00 PM</option>
                              <option value="06:00">6:00 PM</option>
                              <option value="07:00">7:00 PM</option>
                              <option value="08:00">8:00 PM</option>
                              <option value="09:00">9:00 PM</option>
                              <option value="10:00">10:00 PM</option>
                              <option value="11:00">11:00 PM</option>
                            </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="input-group">
                            <select class="form-control" id="to" name="to">
                                <option value="00:00">12:00 AM</option>
                                <option value="01:00">1:00 AM</option>
                                <option value="02:00">2:00 AM</option>
                                <option value="03:00">3:00 AM</option>
                                <option value="04:00">4:00 AM</option>
                                <option value="05:00">5:00 AM</option>
                                <option value="06:00">6:00 AM</option>
                                <option value="07:00">7:00 AM</option>
                                <option value="08:00">8:00 AM</option>
                                <option value="09:00">9:00 AM</option>
                                <option value="10:00">10:00 AM</option>
                                <option value="11:00">11:00 AM</option>
                                <option value="12:00">12:00 PM</option>
                                <option value="01:00">1:00 PM</option>
                                <option value="02:00">2:00 PM</option>
                                <option value="03:00">3:00 PM</option>
                                <option value="04:00">4:00 PM</option>
                                <option value="05:00">5:00 PM</option>
                                <option value="06:00">6:00 PM</option>
                                <option value="07:00">7:00 PM</option>
                                <option value="08:00">8:00 PM</option>
                                <option value="09:00">9:00 PM</option>
                                <option value="10:00">10:00 PM</option>
                                <option value="11:00">11:00 PM</option>
                            </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="descripcion"><b>Description</b></label>
                  <textarea class="form-control" id="descripcion" name="descripcion" rows="3" placeholder="Add here the info related to the service you are offering"></textarea>
                </div>
                
    
                <div class="form-group">
                  <label for="contacts"><b>Contacts</b></label>
                  <textarea class="form-control" id="contact" name="contact" rows="2" placeholder="Email:
Phone number:"></textarea>
                </div>
                
      
                <div class="form-group">
                  <label for="precio_hora"><b>Price per hour (€)</b></label>
                  <input type="number" class="form-control" id="precio_hora" name="precio_hora" placeholder="Precio por hora" style="width: 180px;">
                </div>
      
                
    
                <div class="form-group d-flex justify-content-center"> 
                    <button type="submit" class="btn btn-danger remove_button" style="width: 40%; margin-right: 10px;">Remove ad</button>
                    <button type="submit" class="btn btn-primary update_button" style="width: 40%;">Update</button>
                </div>
          </div>
          
            
          </form>
      </div>
    </div>
    <br>
    <br><br><br>
    <br><br>


    <script>
      $(document).ready(function(){
          $('.date').datepicker({
              format: 'dd/mm/yyyy',
              autoclose: true,
              todayHighlight: true,
          });
      });
  </script>
  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVfQWqcC+aIgM5vmzKLvXhPTsyD95zEdN9SiwtcU6NOiz9z4M2L" crossorigin="anonymous"></script>
</body>
</html>
{% endblock %}
