{% extends "main/base.html" %}
{% block title %}Acerca de Cuidame{% endblock %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width'>
  <title>Política de Privacidad</title>
  <style> body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding:1em; } </style>
</head>
<body>
<strong>Política de Privacidad</strong><p>Esta política de privacidad se aplica a la aplicación CuidaMe (en adelante referida como "Aplicación") para dispositivos móviles que fue creada por CuidaMe.SL (en adelante referida como "Proveedor de Servicios") como un servicio de Código Abierto.</p><br>
<strong>Recopilación y Uso de Información</strong><p>La Aplicación recopila información cuando la descargas y la utilizas. Esta información puede incluir datos como</p><ul><li>La dirección de Protocolo de Internet de tu dispositivo (por ejemplo, dirección IP)</li>
<li>Las páginas de la Aplicación que visitas, la fecha y hora de tu visita, el tiempo que pasas en esas páginas</li>
<li>El tiempo que pasas en la Aplicación</li>
<li>El sistema operativo que utilizas en tu dispositivo móvil</li>
</ul><p>...y más.</p>
<p></p>
<p>El Proveedor de Servicios puede utilizar la información que proporcionas para contactarte de vez en cuando para brindarte información importante, avisos necesarios y promociones de marketing.</p>
<p>Para una mejor experiencia, mientras utilizas la Aplicación, el Proveedor de Servicios puede requerir que nos proporciones cierta información personal identificable, incluyendo pero no limitándose a Correo Electrónico, DNI, número de la seguridad social, edad, población, tipo de dependencia, formación, experiencia. La información que el Proveedor de Servicios solicita será retenida por ellos y utilizada según se describe en esta política de privacidad.</p>

<p>El Proveedor de Servicios puede revelar Información Proporcionada por el Usuario y Recopilada Automáticamente:</p><ul>
<li>cuando sea requerido por la ley, como para cumplir con una citación judicial, o proceso legal similar;</li>
<li>cuando crean de buena fe que la divulgación es necesaria para proteger sus derechos, proteger tu seguridad o la seguridad de otros, investigar fraude, o responder a una solicitud del gobierno;</li>
<li>con sus proveedores de servicios de confianza que trabajan en su nombre, no tienen un uso independiente de la información que les revelamos y han acordado adherirse a las reglas establecidas en esta declaración de privacidad.</li></ul><p></p><br><strong>Derechos de Cancelación de Suscripción</strong><p>Puedes detener toda la recopilación de información por parte de la Aplicación fácilmente desinstalándola. Puedes utilizar los procesos de desinstalación estándar que estén disponibles como parte de tu dispositivo móvil o a través del mercado de aplicaciones móviles o la red.</p><br><strong>Política de Retención de Datos</strong>
<p>El Proveedor de Servicios retendrá los datos proporcionados por el usuario mientras utilices la Aplicación y por un tiempo razonable posterior. Si deseas que eliminen los Datos Proporcionados por el Usuario que has proporcionado a través de la Aplicación, contáctalos en cuidame09@gmail.com y responderán en un tiempo razonable.</p><br><strong>Niños</strong><p>El Proveedor de Servicios no utiliza la Aplicación para solicitar datos o hacer marketing a niños menores de 13 años.</p>
<div><br><p>La Aplicación no está dirigida a personas menores de 13 años. El Proveedor de Servicios no recopila de manera consciente información de identificación personal de niños menores de 13 años. En caso de que el Proveedor de Servicios descubra que un niño menor de 13 años ha proporcionado información personal, eliminarán esto inmediatamente de sus servidores. Si eres un padre o tutor y eres consciente de que tu hijo nos ha proporcionado información personal, contáctate con el Proveedor de Servicios (cuidame09@gmail.com) para que puedan tomar las medidas necesarias.</p></div><!----><br><strong>Seguridad</strong>
<p>El Proveedor de Servicios se preocupa por salvaguardar la confidencialidad de tu información. El Proveedor de Servicios proporciona salvaguardas físicas, electrónicas y procedimentales para proteger la información que procesa y mantiene.</p><br><strong>Cambios</strong><p>Esta Política de Privacidad puede ser actualizada de vez en cuando por cualquier motivo. El Proveedor de Servicios te notificará cualquier cambio en la Política de Privacidad actualizando esta página con la nueva Política de Privacidad. Se te aconseja consultar esta Política de Privacidad regularmente por cualquier cambio, ya que el uso continuado se considera aprobación de todos los cambios.</p><br><p>Esta política de privacidad es efectiva a partir del 16 de marzo de 2024.</p>
<br><strong>Tu Consentimiento</strong><p>Al utilizar la Aplicación, estás dando tu consentimiento para el procesamiento de tu información según se establece en esta Política de Privacidad, tanto ahora como enmendada por nosotros.</p><br><strong>Contacto</strong><p>Si tienes alguna pregunta sobre privacidad mientras utilizas la Aplicación, o tienes preguntas sobre las prácticas, por favor contacta al Proveedor de Servicios por correo electrónico en cuidame09@gmail.com.</p><hr>
</body>
</html>

{% endblock %}
