{% extends 'main/base.html' %}
{% block content %}
<h2>Detalles del Perfil de {{ user.username }}</h2>
<p><strong>Username:</strong> {{ user.username }}</p>
<p><strong>First Name:</strong> {{ user.first_name }}</p>
<p><strong>Last Name:</strong> {{ user.last_name }}</p>
<p><strong>Email:</strong> {{ user.email }}</p>

{% if user.cliente %}
    <h3>Detalles del Cliente</h3>
    <p><strong>Apellidos:</strong> {{ user.cliente.apellidos }}</p>
    <p><strong>Tipo de Dependencia:</strong> {{ user.cliente.tipo_dependencia }}</p>
{% endif %}

{% if user.cuidador %}
    <h3>Detalles del Cuidador</h3>
    <p><strong>DNI:</strong> {{ user.cuidador.dni }}</p>
    <p><strong>Número de Seguridad Social:</strong> {{ user.cuidador.numero_seguridad_social }}</p>
    <p><strong>Fecha de Nacimiento:</strong> {{ user.cuidador.fecha_nacimiento }}</p>
    <p><strong>Formación:</strong> {{ user.cuidador.formacion }}</p>
    <p><strong>Experiencia:</strong> {{ user.cuidador.experiencia }}</p>
    <p><strong>Tipo de Público Dirigido:</strong> {{ user.cuidador.tipo_publico_dirigido }}</p>
{% endif %}

{% endblock %}
