body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E3F1FA;
    color: #1B4965;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;   
}

header {
    background-color: #1B4965;
    color: #CAE9FF;
    padding: 10px;
    text-align: left;
    padding-left: 2%;
    font-size: 10px;
    width: 100%;
}

.container1 {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    flex: 1;
    float: left;
    max-width: 45%;
    margin: 10% 4% 10% auto;
    padding: 20px;
    border-radius: 5px;
}

.title-about {
    font-family: "Lato", sans-serif;
    padding-left: 30%;
    font-weight: bold;
}

.services-text {
    font-size: 58px;
    font-weight: bold;
}
.services-text2 {
    font-size: 58px;
    font-weight: bold;
}

.title-services {
    font-family: "Lato", sans-serif;
    font-size: 50px;
    padding-left: 43%;
    font-weight: bolder;
}

.image1 {
    float: right;
    margin-top: 5%;
    margin-right: 0%;
    margin-bottom: 5%;
    border-radius: 10px;
    max-width: 45%;
    width: 90%;
}

.image1 img {
    max-width: 90%;
    border-radius: 10px;
    animation: fadeIn 3s ease;
}

.image2 {
    float: right;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    border-radius: 10px;
    max-width: 45%;
    width: 65%;
}

.image2 img {
    max-width: 75%;
    border-radius: 10px;
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        filter: blur(20px);
    }

    10% {
        opacity: 1;
        filter: blur(10px);
    }   
}

.section {
    display: flex;
    width: 100%;
}

.section-service {
    display: flex;
    margin-left: 15%;
}

.section2 {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.section-service2 {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    margin-left: 10%;
}
