:root {
    --h1-font-weight: 400;
    --h2-font-weight: 400;
    --primary-bg-color: #cae9ff;
    --seconday-bg-color: #AEC4C4;
  }
  body {
    background-color: var(--primary-bg-color);
    min-height: 130vh;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  header {
    min-height: 50px;
  }
  
  main {
    flex: 1;
    
  }
  
  footer {
    min-width: 50px;
 
  }
  
  header > section > nav {
    margin-right: 20px;
  }
  
  .base-header-primary {
    display: flex;
    justify-content: space-between;
    height: 60px;

    background-color: #1B4965; 
    
  }
  

  #header > a > img {
    margin-right: 10px;
  }
  .btn {
    background-color: #cae9ff;; 
    color: #1B4965; 
    border-color: #1B4965;
}

.dark-btn {
  background-color: #1B4965;
  color: #cae9ff; 
  border-color: #1B4965; 
}

.light-dark-btn {
  background-color: #4681a6;
  color: #cae9ff; 
  border-color: #1B4965; 
}

.light-btn {
  font-weight: bolder;
}

.table.offers thead th {
  background-color: #4681a6; /* Cambia el color del encabezado de la tabla */
  color: #cae9ff; /* Cambia el color del texto en el encabezado de la tabla */
}

.light-dark-container {
  background-color: #62B6CB; 
  color: #1B4965; 
  padding: 20px; 
  border-radius: 10px;
  font-size: 18px;
}

.title-container h1 {
  font-weight: bolder;
  font-size: 160%;
  color: #1B4965;
}

.bold-label {
  font-weight: bolder;
  font-size: 100%;
  color: #1B4965;
}

.offer-card {
  border-radius: 15px;
}

.offer-card-text {
  margin: 15px;
  font-size: 110%;
  color: #1B4965;
}

.offer-card-title {
  font-weight: bolder;
  font-size: 150%;
  color: #62B6CB;
  -webkit-text-stroke: 1px #1B4965; /* Para navegadores basados en WebKit como Chrome y Safari */
  text-stroke: 1px #1B4965; /* Para navegadores que admiten la propiedad text-stroke */
}

.offer-card-description {
  margin-left: 15px;
  margin-right: 15px;
  background-color: #e5f4f8;
  border-radius: 3px;

}

.map-container {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%; /* Proporción de 16:9 (9/16 * 100) */
  height: 0;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


#map-form {
  position: absolute;
  top: 10px;
  left: 75%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 80%;
  box-sizing: border-box;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.address {
  background-color: #FFFFFF;
  border: 3px solid #1B4965;
  border-radius: 29px;
  width: 500px;
  height: 40px;
  padding-left: 10px;
}