:root {
    --h1-font-weight: 400;
    --h2-font-weight: 400;
    --primary-bg-color: #cae9ff;
    --seconday-bg-color: #AEC4C4;
  }

  body {
    background-color: var(--primary-bg-color);
    min-height: 130vh;
    margin: 0;
    display: flex;
    flex-direction: column;
  }