{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %} - CuidaMe</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static "css/base.css" %}">
  {% block header %}{% endblock header %}
</head>
<body>
  <header>
    <section class="base-header-primary"  style="padding-top: 10px;">
        <h3 style="padding-left: 10px; color: #cae9ff;"><strong>CuidaMe</strong></h3>
        <nav>
        {% if request.user.is_authenticated %}
          <a class="btn " href="/" role="button">Cerrar Sesión</a>
          <a class="btn " href="/" role="button">Historial</a>
        {% else %}
          <a class="btn " href="/" role="button">Sign up</a>
          <a class="btn" href="/" role="button">Sign in</a>
          <a class="btn " href="/" role="button">My ads</a>

        {% endif %}
        <a class="btn" href="/" role="button">My profile</a>
      </nav>
    </section>
    <section class="base-header-secondary">
      <h2>{% block description %}{% endblock description %}</h2>
    </section>
  </header>
  <main>
    {% block content %}

    {% endblock content %}
  </main>
  <footer class="text-center text-lg-start bg-light text-muted "  >
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"  style="background-color:  #1B4965">
      <div class="me-5 d-none d-lg-block" style="padding-left:120px ;color: #cae9ff;">
        <span>Conect with us in our social media</span>
      </div>
      <div style="padding-right:50px">
        <a href="https://www.facebook.com/UniversidaddeSevillaoficial" target="_blank" class="me-4 text-reset" style=" color: #cae9ff;">
          <i class="fab fa-facebook-f"></i>
          Facebook
        </a>
        <a href="https://twitter.com/unisevilla" target="_blank" class="me-4 text-reset" style=" color: #cae9ff;">
          <i class="fab fa-twitter"></i>
          Twitter
        </a>
        <a href="https://www.instagram.com/unisevilla/" target="_blank" class="me-4 text-reset" style=" color: #cae9ff;">
          <i class="fab fa-instagram"></i>
          Instagram
        </a>
      </div>
    </section>
    <section class="d-flex justify-content-center justify-content-lg-between p--1 border-bottom" style="background-color:  #1B4965">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4"  style=" color: #cae9ff;">
              <i class="fas fa-gem me-3"></i> CuidaMe Company
            </h6>
            <p  style=" color: #cae9ff;">
                Welcome to CuidaMe! We specialize in connecting you with people for all your caregiving needs.
                Whether it's for an elderly family member, a child, or anyone in between, our platform makes finding the perfect care simple and efficient
            </p>
         </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

            <p>
                <strong><a href="/" class="text-reset" style=" color: #cae9ff; padding-left:30px">CuidaMe</a></strong>

            </p>

            <img src="{% static 'Images/App_logo.png' %}" alt="Logo de CuidaMe" width="200" height="200">

          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4"  style=" color: #cae9ff;">
            <h6 class="text-uppercase fw-bold mb-4">Contacts</h6>
            <p><i class="fas fa-home me-3"></i> Sevilla, Av. de la Reina Mercedes 41012, ES</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              CuidaMe@Gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i> +34 686 84 90 09</p>
          </div>
        </div>
      </div>
    </section>
    <div class="text-center p-4" style="background-color: #1B4965  ; color: #cae9ff;"">
      © 2024 Copyright :
      <a class="text-reset fw-bold"style=" color: #cae9ff;" href="/">CuidaMe.com</a>
    </div>
  </footer>
</body>
    </html>
